body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.bg-model {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  background-color: rgba(0, 0, 0, 0.459);
}

.resizable-div {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  align-items: center;


  width: 600px;
  height: 100px;
  max-width: 800px;
  max-height: 172px;
  min-width: 223px;
  border: 2px outset #8000ff77;
  resize: none;
  background-color: rgb(33, 36, 41);
  overflow: auto;

  border-radius: 8px;
  padding: 8px;
  
}

input {
  outline: none;
  border: none;
  background-color: rgba(137, 43, 226, 0.267);
  border: none;
  border-radius: 8px;
  padding: 8px;
  margin: 6px;
 
  z-index: 200000;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.507);
  font-weight: 600;
}


/* Adicionar classe para ser mais específico  */
.btn-data {
  border: none;
  outline: none;
  margin: none;

  width: 100px;
  height: 40px;

  color: azure;
  font-weight: 500;
  border-radius: 8px;
  background-color: rgba(137, 43, 226, 0.774);

}

.resizable-div {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

input {
  flex: 1 1 100px;
}

button {
  flex: 1 1 40px;
}
