<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Credit Card Model</title>
    <link rel="stylesheet" href="./styles/index.css">

    <link rel="shortcut icon" href="../../assets/perfil-tik.png" type="image/x-icon">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.6/inputmask.min.js"></script>


    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <!-- Dropdown Works -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </head>
<body>
  <!-- All social medias -->
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
    <div class="container">
      <a class="navbar-brand" href="https://github.com/devHorizonof">
        <img src="../..//assets/perfil-tik.png" alt="Avatar Logo" style="width:40px;" class="rounded-pill"> 
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/devHorizonof">Instagram</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/devHorizonof">Shorts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.tiktok.com/@devhorizon">Tiktok</a>
          </li>
        </ul>
        <form class="d-flex">
          <button type="button" id="toggle-form"  class="btn btn-outline-secondary">Login</button>
        </form>
      </div>
    </div>
  </nav>
  
  <!-- background -->
  <div class="bg-model"></div>

  <!-- Project: Credit card -->
  <div class="container d-flex full-body">
    <div class="credit-card d-flex d-flex-col">
      <div class="flex logo-card">
        <img src="./assets/visa-logo.png" alt="Card flag" srcset="">
      </div>
      <div class="chip">
        <img src="./assets/chip.png" alt="Card flag" srcset="">
      </div>
      <div class="number">
        <input type="text" class="input-mask input-number" id="cardNumber" placeholder="Card Number" required maxlength="19" >
      </div>
      <div class="name-data d-flex">
        <input type="text"  class="input-mask input-name" id="cardName" placeholder="Name" required maxlength="16">
        <input type="text"  class="input-mask input-date" id="cardData" placeholder="Exp" required maxlength="5">
      </div>
    </div>
    <div class="credit-card-data">

    </div>
  </div>

  <!-- JS for this project -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const cardNumberInput = document.getElementById('cardNumber');
      const dataInput = document.getElementById('cardData');
  
      cardNumberInput.addEventListener('input', function() {
          // Remove todos os caracteres não numéricos
          // Remove all non-numeric characters
          let cardNumber = cardNumberInput.value.replace(/\D/g, '');
          
          // Adiciona um espaço a cada 4 caracteres
          // Add a space every 4 characters
          cardNumber = cardNumber.replace(/(\d{4})(?=\d)/g, '$1 ');
  
          // Atualiza o valor do campo de entrada
          // Update the value of the input field
          cardNumberInput.value = cardNumber;
      });
      dataInput.addEventListener('input', function() {
          // Remove todos os caracteres não numéricos
          // Remove all non-numeric characters
          let cardNumber = dataInput.value.replace(/\D/g, '');
          
          // Adiciona um espaço a cada 4 caracteres
          // Add a space every 4 characters
          cardNumber = cardNumber.replace(/(\d{2})(?=\d)/g, '$1/');
  
          // Atualiza o valor do campo de entrada
          // Update the value of the input field
          dataInput.value = cardNumber;
      });
    });
  </script>



   <!-- Bootstrap -->
   <script
   src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
   integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
   crossorigin="anonymous"
 ></script>
 <script
   src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
   integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
   crossorigin="anonymous"
 ></script>
 <script
   src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
   integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
   crossorigin="anonymous"
 ></script>
</body>
</html>