body {
  height: 100vh;
  overflow: hidden;
}

.container {
  height: 100%;
}

.bg-model {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  background-color: rgba(0, 0, 0, 0.459);
}

pre {
  background-color: #1f1d1d;
  border-radius: 10px;
}

.scroller {
  height: 500px;
  width: 400px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  background-color: rgb(13, 14, 14);

  color: white;
  border-radius: 10px;
  padding: 15px;
}

.scroller::-webkit-scrollbar {
  width: 10px;
}

.scroller::-webkit-scrollbar-thumb {
  background-color: rgb(252, 144, 4);
  border-radius: 10px;
}

.scroller::-webkit-scrollbar-track {
  background-color: blueviolet;
  border-radius: 10px;
}


.scroller section {
  scroll-snap-align: start;
}